.form {
  display:flex;
  flex-direction: column;
  margin:5px;
}
.container{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 30%;
  border-radius: 13px;
  margin-top: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}
