
<div fxLayout="column" fxFlexFill>
  <div fxFlex="20">

    <a routerLink="/add" class="ajouterBtn">
      <button mat-flat-button color="accent">
        Ajouter un assignment
      </button>
    </a>
    <h1>Liste des assignments</h1>
    
  </div>
  <div fxFlex >
    <div fxLayout="row" style="height:100%;">
      <div fxFlex="25%">
        <div fxLayout="column" style="height: 100%;">
        <div>

          <nav>
            <button mat-raised-button color="primary" (click)="premierePage()">
              Première
            </button>
            <button mat-raised-button color="primary" [disabled]="!hasPrevPage" (click)="pagePrecedente()">
              Prev
            </button>
            <button mat-raised-button color="primary" [disabled]="!hasNextPage" (click)="pageSuivante()">
              Suiv
            </button>
            <button mat-raised-button color="primary" (click)="dernierePage()">
              Dernière
            </button>
          </nav>
        </div>
        <div fxFlex style=" overflow-y: auto;">

            <div cdkDropList class="assignment-list" (cdkDropListDropped)="drop($event)">
              <mat-card class="assignment-box" *ngFor="let a of assignments" cdkDrag>
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{a.nom}}</mat-card-title>
                  <mat-card-subtitle>{{a.dateDeRendu}}</mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>
          
        </div>
      </div>
      </div>
    </div>  
  </div>

</div>
  
