
<div fxLayout="column" fxFlexFill>
  <!--
  <div fxFlex="20">

    <a routerLink="/add" class="ajouterBtn">
      <button mat-flat-button color="accent">
        Ajouter un assignment
      </button>
    </a>
  </div>
  -->
  <div fxFlex >
    <div fxLayout="row" style="height:100%;margin-top: 1%;">
      <div fxFlex="50%">
        <div fxLayout="column" style="height: 100%;">
          <div class="container titre"  style="text-align: center;">
            <h2>
              Assignements non rendus 
            </h2>
            <div style="position: relative;">
           
              <a href="/add" mat-mini-fab color="primary" style="position:absolute; bottom:20%;right:10%;">
                <mat-icon>add</mat-icon>
              </a>
            </div>
          </div>
         
          <div fxFlex style=" overflow-y: auto;" (scroll)="onScroll1($event)">

              <div #nonrenduslist="cdkDropList" cdkDropList class="assignment-list" (cdkDropListDropped)="drop($event)"
              
              [cdkDropListDisabled]="!isAdmin"
              [cdkDropListData]="assignmentsnonrendus"
              [cdkDropListConnectedTo]="[renduslist]"
              >
              <div class="container" style="margin-top: 5%;width: 80%;margin-bottom: 20%;">
                <mat-card (click)="voirdetails(a.id)" class="assignment-box" *ngFor="let a of assignmentsnonrendus" cdkDrag>
                  <mat-card-header>
                    <div mat-card-avatar>
                      <img style="height:100%;width:100%;" src="{{a.matiere?.imageProfLien}}">
                    </div>
                    <mat-card-title>#{{a.id}} - {{a.nom}}</mat-card-title>
                    <mat-card-subtitle>{{a.dateDeRendu}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <div fxLayout="row">

                      <div style="height: 30%;width:30%; max-width: 135px;max-height: 135px;overflow:hidden;">
                        <img style="width:100%;" src="{{a.matiere?.imageMatiereLien}}"/>
                      </div>
                      <div fxFlex>
                        <mat-list>
                          <mat-list-item> Matière : {{a.matiere?.nom}} </mat-list-item>
                          <mat-list-item> Prof : {{a.matiere?.prof}} </mat-list-item>
                          <mat-list-item> Auteur : {{a.auteur}} </mat-list-item>
                         </mat-list>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
               
                <mat-card *ngIf="loading1" style="background-color: rgb(207, 207, 207);" class="assignment-box">
                  <div>
                    Chargement en cours...
                    <mat-spinner diameter="20" style="float:right">
                    </mat-spinner>
                  </div>
                </mat-card>
              </div>
                <button *ngIf="!loading1" (click)="loadMoreNonRendus()" mat-button color="primary">Charger plus</button>
              </div>
            
          </div>
        
        </div>
      </div>
      <div fxFlex="50%">
        <div fxLayout="column" style="height: 100%;">
          <div class="container titre"  style="text-align: center;">
            <h2>
              Assignements rendus

            </h2>
          </div>
          <div fxFlex style=" overflow-y: auto;" (scroll)="onScroll2($event)">

              <div #renduslist="cdkDropList" cdkDropList class="assignment-list" (cdkDropListDropped)="drop($event)"
              [cdkDropListDisabled]="!isAdmin"
                            
              [cdkDropListData]="assignmentsrendus"
              [cdkDropListConnectedTo]="[nonrenduslist]"
              >
              <div class="container" style="margin-top: 5%;width: 80%;margin-bottom: 20%;">
              <mat-card (click)="voirdetails(a.id)" class="assignment-box" *ngFor="let a of assignmentsrendus" cdkDrag>
                <mat-card-header>
                  <div mat-card-avatar>
                    <img style="height:100%;width:100%;" src="{{a.matiere?.imageProfLien}}">
                  </div>
                  <mat-card-title>#{{a.id}} - {{a.nom}}</mat-card-title>
                  <mat-card-subtitle>{{a.dateDeRendu}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <div fxLayout="row">

                    <div style="height: 30%;width:30%; max-width: 135px;max-height: 135px; overflow:hidden;">
                      <img style="width:100%;" src="{{a.matiere?.imageMatiereLien}}"/>
                    </div>
                    <div fxFlex>
                      <mat-list>
                        <mat-list-item> Matière : {{a.matiere?.nom}} </mat-list-item>
                        <mat-list-item> Prof : {{a.matiere?.prof}} </mat-list-item>
                        <mat-list-item> Auteur : {{a.auteur}} </mat-list-item>
                       </mat-list>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            
                <mat-card *ngIf="loading2" style="background-color: rgb(207, 207, 207);" class="assignment-box">
                  <div>
                    Chargement en cours...
                    <mat-spinner diameter="20" style="float:right">
                    </mat-spinner>
                  </div>
                </mat-card>
              </div>
                <button *ngIf="!loading2" (click)="loadMoreRendus()" mat-button color="primary">Charger plus</button>

              </div>
            
          </div>
        
        </div>
      </div>
    </div>  
  </div>

</div>
  
