<div fxLayout="column" style="height:100%">
<div fxFlex="initial">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Assignements</span>
  </mat-toolbar>
</div>
<div fxFlex >
  <!--
    
    <mat-slide-toggle (click)="login()">Log me!</mat-slide-toggle>
    <button mat-stroked-button color="primary" (click)="peuplerBD()">PeuplerBD</button>
  -->
  <router-outlet class="hidden"></router-outlet>
</div>  
</div>