<div fxLayout="column" style="height:100%">
<div fxFlex="initial">
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a href="/" mat-menu-item>Assignements</a>
      <a href="/matiere" mat-menu-item>Matières</a>
    </mat-menu>
    <span>Assignements</span>
    <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
  </mat-toolbar>
</div>
<div fxFlex >
  <!--
    
    <mat-slide-toggle (click)="login()">Log me!</mat-slide-toggle>
    <button mat-stroked-button color="primary" (click)="peuplerBD()">PeuplerBD</button>
  -->
  <router-outlet class="hidden"></router-outlet>
</div>  
</div>
