#titre{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 3%;
    text-align: center;
    border-radius: 13px;
    padding-top: 1%;
    padding-bottom: 1%;
}
#content{
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    margin-top: 1%;
    border-radius: 14px;
    width: 30%;
    padding-bottom: 5%;
}
.mat{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 1%;
}
.borderless td, .borderless th {
    border: none;
}